/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-dark.png);
  --bk-im-font-color:#FF0070;
  --icon-visibility:inherit;
  --header-padding-inline: 10px;
  --header-padding-block: 10px;
  --header-title-color:#DB00FF;
  --header-title-text-shadow: 4px 4px #FF0070;
  --header-text-color: #000028;
  --header-text-bk-color: #FF0070;
  --dec-zone-before-color:#FF0070;
  --dec-zone-before-box-shadow-color: #FF0070;
  --dec-zone-after-color:#FF0070;
  --dec-zone-after-box-shadow-color: #FF0070;
  --icon-color: #FF0070;
  --header-theme-menu-item-color: #FF0070;
  --header-theme-menu-button-color:#FF0070;
  --header-theme-menu-button-hover-border-color: #FF007066;
  --header-theme-button-active-border: 1px solid currentColor;
  --main-sextion-title-color:#FF0070;
  --section-text-item-bk-color:#FF0070;
  --section-text-item-color:#000028;
  --section-text-color:#F1B2CE;
  --main-text-button-text-color:#F1B2CE;
  --main-text-button-shadow:#FF0070;
  --text-section-texts-title-bk-color:#FF0070;
  --text-section-texts-title-color:#000028;
  --footer-title-color: #DB00FF;
  --footer-title-text-shadow: 2px 2px #FF0070;
}