/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  .header__theme-menu-item {
  --color:#353430;
}
.icon {
  visibility:hidden;
}
.decorated-zone::after {
  --color:#353430;
  --box-shadow-color:#353430;
  }
.decorated-zone::before {
  --color:#353430;
  --box-shadow-color:#353430;
}
.header__theme-menu-button {
  --color:#353430;
}
.header__theme-menu-button:hover {
  --hover-border-color:#32312D66;
}
.header_title {
  --color:#FFC2E6;
  --text-shadow: 4px 4px #FF8DCB;
}
.header_text {
  --color:#353430;
  --background-color:#FF8DCB;
}
.main_section_title {
  --color:#353430;
}
.text-section__texts-title {
  --color: #353430;
  --background-color: #FF8DCB;
}
.section_text_item {
  --color: #353430;
  --background-color:#FF8DCB;
}
.section_text {
  --color:#353430;
}
.main_text_button {
  --text-color:#353430;
  --text-shadow-button:#FF8DCB;
  }
.footer_title {
  --color:#FFC2E6;
  --text-shadow:2px 2px #FF8DCB;
}
}
@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
  .header__theme-menu-item {
  --color:#353430;
}
.decorated-zone::after {
  --color:#353430;
  --box-shadow-color:#353430;
  }
.decorated-zone::before {
  --color:#353430;
  --box-shadow-color:#353430;
}
.header__theme-menu-button {
  --color:#353430;
}
.header__theme-menu-button:hover {
  --hover-border-color:#32312D66;
}
.header_title {
  --color:#FFC2E6;
  --text-shadow: 4px 4px #FF8DCB;
}
.header_text {
  --color:#353430;
  --background-color:#FF8DCB;
}
.main_section_title {
  --color:#353430;
}
.text-section__texts-title {
  --color: #353430;
  --background-color: #FF8DCB;
}
.section_text_item {
  --color: #353430;
  --background-color:#FF8DCB;
}
.section_text {
  --color:#353430;
}
.main_text_button {
  --text-color:#353430;
  --text-shadow-button:#FF8DCB;
  }
.footer_title {
  --color:#FFC2E6;
  --text-shadow:2px 2px #FF8DCB;
}
  }
}