/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  --bk-color:#fff1f7;
  --header-theme-menu-item-color:#353430;
  --icon-visibility:hidden;
  --dec-zone-after-color:#353430;
  --dec-zone-after-box-shadow-color:#353430;
  --dec-zone-before-color:#353430;
  --dec-zone-before-box-shadow-color:#353430;
  --header-theme-menu-button-color:#353430;
  --header-theme-menu-button-hover-border-color:#32312D66;
  --header-title-color:#FFC2E6;
  --header-title-text-shadow: 4px 4px #FF8DCB;
  --header-text-color:#353430;
  --header-text-bk-color:#FF8DCB;
  --main-sextion-title-color:#353430;
  --text-section-texts-title-color: #353430;
  --text-section-texts-title-bk-color: #FF8DCB;
  --section-text-item-color: #353430;
  --section-text-item-bk-color:#FF8DCB;
  --section-text-color:#353430;
  --main-text-button-text-color:#353430;
  --main-text-button-shadow:#FF8DCB;
  --footer-title-color:#FFC2E6;
  --footer-title-text-shadow:2px 2px #FF8DCB;
}
@media (prefers-color-scheme: light) {
  :root {
  --icon-visibility:hidden;
  --bk-color:#fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --header-theme-menu-item-color:#353430;
  --dec-zone-after-color:#353430;
  --dec-zone-after-box-shadow-color:#353430;
  --dec-zone-before-color:#353430;
  --dec-zone-before-box-shadow-color:#353430;
  --header-theme-menu-button-color:#353430;
  --header-theme-menu-button-hover-border-color:#32312D66;
  --header-title-color:#FFC2E6;
  --header-title-text-shadow: 4px 4px #FF8DCB;
  --header-text-color:#353430;
  --header-text-bk-color:#FF8DCB;
  --main-sextion-title-color:#353430;
  --text-section-texts-title-color: #353430;
  --text-section-texts-title-bk-color: #FF8DCB;
  --section-text-item-color: #353430;
  --section-text-item-bk-color:#FF8DCB;
  --section-text-color:#353430;
  --main-text-button-text-color:#353430;
  --main-text-button-shadow:#FF8DCB;
  --footer-title-color:#FFC2E6;
  --footer-title-text-shadow:2px 2px #FF8DCB;
  }
}